/* move

.move_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    background: linear-gradient(20deg, rgb(4, 22, 56) 20%, rgb(7, 36, 90) 40%, rgb(22, 90, 218) 40%);
    border-radius: .5rem;
    cursor: pointer;
    transition: transform .5s ease;
    box-shadow: 5px 5px 5px 0px rgb(58, 102, 184);
}

.move_btn a svg {
    color: snow;
    font-size: 2.5rem;
}

.move_btn:active {
    transform: scale(0.50);
}

.move_btn a svg {
    text-shadow: 10px 10px 50px rgba(147, 21, 21, 0.947);
}

.move_btn:hover {
    background: rgb(9, 46, 116);
}

.top {
    position: fixed;
    right: 35px;
    bottom: 100px;
}

@media (max-width:32.5rem) {
    .footer {
        padding: 0 .8rem;
        height: 3rem;
    }

    .footer p {
        font-size: .8rem;
    }


    .colorContainer {
        display: none;
    }

    .move_btn {
        width: 2rem;
        height: 2rem;
    }

    .move_btn a svg {
        color: snow;
        font-size: 1.5rem;
    }

    .top {
        position: fixed;
        right: 10px;
        bottom: 120px;
    }

} */