#education {
    min-height: auto;
    color: white;
}

#education h1 {
    font-size: 3rem;
    line-height: 1.3rem;
    font-weight: 700;
    text-align: center;
}

.headTitledarkskyblue {
    color: #ffffff;
}

.headTitledark {
    color: #ffffff;
}

.headTitlelight {
    color: black;
}

#education h1 span {
    color: rgba(61, 255, 47, 0.737);
    text-shadow: 4px 4px 4px rgba(61, 255, 47, 0.358);
}


.education {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: auto;
    margin-top: 5rem;
}

.education .education_row {
    display: flex;
    gap: 5rem;
}

.education_row .education_column {
    flex: 1 1 40rem;

}

.education_column .heading {
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.5rem;
    letter-spacing: 1px;
    margin: 0 0 2rem 1.5rem;
    color: #03a9f4;
}


.education_row .education_contain {
    border-left: .15rem solid rgba(61, 255, 47, 0.66);
}

.education_contain .education_content {
    position: relative;
    padding-left: 2rem;
}

.education_contain .education_content::before {
    content: "";
    position: absolute;
    top: -.3rem;
    left: -.8rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background: rgb(23, 139, 15);
}

.education_content .content {
    position: relative;
    padding: 1.5rem;
    border: .1rem solid rgba(61, 255, 47, 0.358);
    border-radius: .5rem;
    margin-bottom: 2rem;
    box-shadow: 4px 3px 4px rgba(61, 255, 47, 0.358);
    overflow: hidden;
}

.education_content:nth-child(1) .content:nth-child(1) {
    transform-origin: right top left bottom;
    transform: rotate(-1deg);
}

.education_content:nth-child(2) .content:nth-child(2) {
    transform-origin: left top right bottom;
    transform: rotate(-3deg);
}

.education_content .content::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(98, 255, 0, 0.143);
    z-index: -1;
    transition: .5s;
}

.education_content .content:hover::before {
    width: 100%;
}

.education_content .content .edu_years {
    display: flex;
    align-items: center;
    color: rgba(73, 246, 61, 0.995);
    padding-bottom: 1rem;
}

.education_content .content .edu_years span {
    font-size: 1rem;
}

.education_content .content .edu_years svg {
    padding-right: .5rem;
    font-size: 2.5rem;
}

.education_content .content .institute {
    font-size: 2rem;
    letter-spacing: 1px;
}

.institutedarkskyblue {
    color: whitesmoke;
}

.institutedark {
    color: whitesmoke;
}

.institutelight {
    color: black;
}

.education_content .content .edu_describtion {
    font-size: 1.2rem;
    padding-top: .5rem;
    line-height: 1.5;
}

.edu_describtiondarkskyblue {
    color: #ffffff;
}

.edu_describtiondark {
    color: #ffffff;
}

.edu_describtionlight {
    color: black;
}

@media (max-width: 32.5rem) {
    #education h1 {
        font-size: 2rem;
    }

    .education .education_row {
        display: flex;
        flex-direction: column;
        gap: 0;

    }

    .education_row .education_column {
        flex: 0;

    }

    .education_content .content .institute {
        font-size: 15px;
    }

    .education_content .content .edu_describtion {
        font-size: 10px;
    }

}