#experience {
    min-height: auto;
}

.experience .heading {
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    text-shadow: 0 5px 15px rgb(255, 250, 250);
    margin: 0 0 6rem 0;
}

.headingdarkskyblue {
    color: white;
}

.headingdark {
    color: white;
}

.headinglight {
    color: rgba(23, 23, 23, 0.732);
}

.experience .heading span {
    display: inline-block;

}

.experience .heading span:nth-child(3) {
    color: rgb(7, 54, 244);
    text-shadow: 0 5px 15px rgba(48, 77, 190, 0.815);
    animation: jump_Animate 4s alternate infinite;
}

.experience .heading span:nth-child(5) {
    color: rgb(250, 238, 3);
    text-shadow: 0 5px 15px rgba(240, 230, 46, 0.874);
    animation: jump_Animate 5s alternate infinite;
}

.experience .heading span:nth-child(8) {
    color: rgb(11, 148, 11);
    text-shadow: 0 5px 15px rgba(19, 201, 19, 0.855);
    animation: jump_Animate 6s alternate infinite;
}

.experience .heading:hover span {
    animation: jump_Animate 3s alternate infinite;
}

@keyframes jump_Animate {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    20% {
        transform: translateY(0px) rotate(90deg);
    }

    50% {
        transform: translateY(-50px) rotate(180deg);
    }

    70% {
        transform: translateY(0px) rotate(360deg);
    }

    100% {
        transform: translateY(0px) rotate(360deg);
    }
}

.experience .container {
    position: relative;
}

.textdarkskyblue {
    color: #ffffff;
}

.textdark {
    color: #ffffff;
}

.textlight {
    color: black;
}

.experiences_container {
    position: relative;
    width: 50.4%;
    padding: .8rem 2.5rem;
}


.experiences_container img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    position: absolute;
    z-index: 10;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}

.text_content_box {
    position: relative;
    padding: 1.5rem;
    background: #14ffe74c;
    border-radius: .5rem;
}

.text_content_box h1 {
    font-size: 2rem;
    letter-spacing: 1px;
    font-family: sans-serif;
    font-weight: 700;
}



.text_content_box small {
    font-size: .8rem;
}

.text_content_box p {
    font-size: 1.2rem;
    margin-top: .5rem;
    font-weight: 300;
    font-family: 'Roboto Slab', serif;
}

.left_experiences_container {
    left: 0;
}

.left_experiences_container img {
    position: absolute;
    top: -5rem;
    left: 1.8rem;
}

.right_experiences_container {
    left: 50%;
}

.right_experiences_container img {
    position: absolute;
    top: -5rem;
    right: 1.8rem;
}

.experiences_container:nth-child(1) {
    border-top: .3rem solid #11efd91b;
    border-right: .3rem solid #11efd91b;
    animation: borderAnimate .6s linear forwards;
}

.experiences_container:nth-child(2) {
    border-top: .3rem solid #11efd91b;
    border-left: .3rem solid #11efd91b;
    animation: borderAnimate .6s linear forwards;
}

.experiences_container:nth-child(3) {
    border-top: .3rem solid #11efd91b;
    border-right: .3rem solid #11efd91b;
    animation: borderAnimate .6s linear forwards;
}

.experiences_container:nth-child(4) {
    border-top: .3rem solid #11efd91b;
    border-left: .3rem solid #11efd91b;
    animation: borderAnimate .6s linear forwards;
}

.experiences_container:nth-child(5) {
    border-top: .3rem solid #11efd91b;
    border-right: .3rem solid #11efd91b;
    animation: borderAnimate .6s linear forwards;
}

.experiences_container:nth-child(6) {
    border-top: .3rem solid #11efd91b;
    border-left: .3rem solid #11efd91b;
    animation: borderAnimate .6s linear forwards;
}

@keyframes borderAnimate {
    0% {
        border-top: none;
    }

    100% {
        border-top: .3rem solid #11efd91b;
    }
}

.left_content_arrow {
    width: 0;
    height: 0;
    position: absolute;
    top: -1.2rem;
    left: .50rem;
    z-index: 1;
    border-top: 1rem solid transparent;
    border-left: 1rem solid transparent;
    border-right: 1rem solid #14ffe74c;
    transform: rotate(-135deg);
}

.right_content_arrow {
    width: 0;
    height: 0;
    position: absolute;
    top: -1.2rem;
    right: -.20rem;
    z-index: 1;
    border-top: 1rem solid transparent;
    border-left: 1rem solid transparent;
    border-right: 1rem solid #14ffe74c;
    transform: rotate(-135deg);
}


@media (max-width:32.5rem) {
    .experience {
        /* min-height: 8rem; */
        margin-bottom: 4.2rem;
    }

    .experience .heading {
        font-size: 2rem;
        margin-bottom: 4rem;
    }

    .experiences_container {
        position: relative;
        width: 51.4%;
        padding: .2rem 0.2rem;
    }

    .experiences_container img {
        width: 2rem;
        height: 2rem;
    }

    .left_experiences_container img {
        position: absolute;
        top: -3rem;
        left: 1.1rem;
    }

    .right_experiences_container img {
        position: absolute;
        top: -3rem;
        right: 0.625rem;
    }

    .left_content_arrow {
        position: absolute;
        top: -10px;
        left: .90rem;
    }

    .right_content_arrow {
        position: absolute;
        top: -0.625rem;
        right: -.20rem;
    }

    .text_content_box {
        padding: .5rem;
    }

    .text_content_box h1 {
        font-size: 1rem;
    }

    .text_content_box small {
        font-size: 0.875rem;
    }

    .text_content_box p {
        font-size: 0.75rem;
    }
}